<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글읽기</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
	<h1 class="text-center">[[${vo.bno}]] : [[${vo.title}]]</h1>
	<div class="col-md-6 text-center" style="margin: 10px auto;">
		<table class="table table-striped">
			<tr><td width="10%">제목</td><td th:text="${vo.title}">LoL</td></tr>
			<tr><td>내용</td><td th:text="${vo.content}">LoL</td></tr>
			<tr><td>저자</td><td th:text="${vo.writer}">LoL</td></tr>
			<tr><td>등록</td><td th:text="${vo.regdate}">LoL</td></tr>
			<tr><td>수정</td><td th:text="${vo.updatedate}">LoL</td></tr>
		</table>
		
		<form action="/board/remove" method="post">
			<input type="hidden" name="bno" th:field="${vo.bno}">
			<button class="btn btn-warning">삭제하기</button>
			<input id="modify" class="btn btn-success" type="button" value="수정하기"></input>
			<input id="toList" class="btn btn-info" type="button" value="리스트로"></input> 
		</form>
	</div>
</body>
<script th:inline="javascript">
	var toList = document.getElementById("toList");
	var modi = document.getElementById("modify");
	
	toList.addEventListener("click", function(){
		location.href = "/board/list";
	});
	
	modi.addEventListener("click", function(){
		location.href = "/board/modify?bno=" + [[${vo.bno}]];
	});
</script>
</html>