<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Upload</title>
</head>
<body>
	<div class="uploadDiv">
		<input type="file" name="uploadFile" multiple>
	</div>
	
	<div class="uploadResult">
		<ul></ul>
	</div>
	
	<button id="uploadBtn">Upload</button>	
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>
	$("#uploadBtn").on("click", function(e){
		alert("버튼 클릭 확인 완료");
		
		let formData = new FormData();
		let inputFile = $("input[name='uploadFile']");
		let files = inputFile[0].files;
		
		// formData에 files 추가하기
		for(let i=0; i<files.length; i++){
			formData.append("uploadFile", files[i]);
		}
		
		$.ajax({
			url: "/upload/uploadAjaxPost",
			processData: false,
			contentType: false,
			data: formData,
			type: "POST",
			success: function(){
				alert("파일 업로드 완료!!");
			}
		});
	});
</script>
</html>











