<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 정보를 namespace에 기술 -->
<mapper namespace="com.koreait.board.mapper.AttachFileMapper">
	<insert id="insert">
		INSERT INTO TBL_ATTACH(UUID, UPLOADPATH, FILENAME, IMAGE, BNO)
		VALUES(#{uuid}, #{uploadPath}, #{fileName}, #{image}, #{bno})
	</insert>
	<select id="findByBno" resultType="com.koreait.board.bean.vo.AttachFileVO">
		SELECT UUID, UPLOADPATH, FILENAME, IMAGE, BNO
		FROM   TBL_ATTACH
		WHERE  BNO = #{bno}
	</select>
</mapper>